.main{
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
}
.timeline{
    grid-column: 3 /4;
    grid-row: 1 / 3;
}
.back-ground{
    background-color: rgb(242, 255, 255);
}
/* TABLET */
@media screen and (max-width : 768px){
    .main{

        display: block;
    }
}